.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    height: 100%;
}

.films {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.film {
    border: 1px solid black;
    border-radius: 8px;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.poster {
    width: 100%;
    height: 250px;
}

.poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
