.wrapper {
    display: grid;
    /*grid-template-columns: 50% 300px 100px;*/
    /*grid-template-columns: 30% 2fr 150px;*/
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 150px 1fr;*/
    /*height: 900px;*/
    grid-template-areas:
    "b b g g"
    "r y g g";
    /*justify-items: start;*/
    /*align-items: stretch;*/
    /*justify-content: center;*/
    grid-gap: 10px;
}

.blue {
    background-color: blue;
    grid-area: b;
    justify-self: end;
}

.red {
    background-color: red;
    grid-area: r;
}

.yellow {
    background-color: yellow;
    grid-area: y;
}

.green {
    background-color: green;
    grid-area: g;
    align-self: center;

}