.wh {
  height: 500px;
  width: 100%;
}

.red {
  background-color: red;
  display: block;
}

.green {
  background-color: green;
  display: none;

}

.blue {
  background-color: blue;
  display: none;

}